@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* light */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;

    /* dark */
    --background-dark: 20 14.3% 4.1%;
    --foreground-dark: 0 0% 95%;
    --card-dark: 24 9.8% 10%;
    --card-foreground-dark: 0 0% 95%;
    --popover-dark: 0 0% 9%;
    --popover-foreground-dark: 0 0% 95%;
    --primary-dark: 142.1 70.6% 45.3%;
    --primary-foreground-dark: 60 9.1% 97.8%;
    --secondary-dark: 240 3.7% 15.9%;
    --secondary-foreground-dark: 0 0% 98%;
    --muted-dark: 0 0% 15%;
    --muted-foreground-dark: 240 5% 64.9%;
    --accent-dark: 12 6.5% 15.1%;
    --accent-foreground-dark: 0 0% 98%;
    --destructive-dark: 0 62.8% 30.6%;
    --destructive-foreground-dark: 0 85.7% 97.3%;
    --border-dark: 240 3.7% 15.9%;
    --input-dark: 240 3.7% 15.9%;
    --ring-dark: 142.4 71.8% 29.2%;
    --radius: 0.5rem;

  }
}
